    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Poppins:wght@200&family=Roboto+Mono:ital,wght@1,200&display=swap'); 
    body {
        background-color: #414141;
        margin-top: 0px;
        margin-left:0px;
        margin-right: 0px;
    }
    a {
        color:#dfdfdf;
    }
    hr {
        border-style: none;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .title {
        color: White;
        font-family: 'Poppins', sans-serif;
        font-size:100px;
    }
    .paragraph {
        color: #dfdfdf;
        font-family: 'Roboto Mono', sans-serif;
    }
    .subText {
        color: #acacac
    }
    #time {
        margin-left:10px;
    }
    #date  {
        margin-left:10px;
        font-size: 30px;
    }
    #Topbar {
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 90%;
        clip-path: polygon(0 0, 100% 0%, 100% 34%, 0 50%);
        background: rgb(73, 113, 28);
        background: linear-gradient(323deg, rgb(167, 158, 41) 0%, rgb(66, 141, 37) 100%);
        border-radius:0px;
        z-index: -1;
    }
    .navOp {
        display: inline-block;
        position: relative;
        margin-left:10px;
        margin-right:10px;
        border-bottom-style: solid;
        border-bottom-color: #ffffff00;
        transition: border-bottom-color 0.25s ease-out 100ms;
    }
    .navOp:hover {
        border-bottom-color: #dfdfdf;
    }
    .navOpNative {
        display: inline-block;
        position: relative;
        margin-left:10px;
        margin-right:10px;
        border-bottom-style: solid;
        border-bottom-color: #dfdfdf;
    }
    #NavBar {
        top: 0;
        position: absolute;
        z-index: 1;
        background-color: #46454500;  
        opacity: 100%;
        width: 100%;
        height: 5%;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
    }
    #pfp {
          height:20px;
          width:20px;
          display:inline-block;
          border-radius: 20px;
          position:relative;
    }
    #account {
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        }

    #openTasks { 
        background-color:#646464;
        position: absolute;
        right: 10%;
        top: 17%;
        width:28.5%;
        height: 38%;
        border-radius: 7%;
        overflow: hidden;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        border-color: #65751b;
        border-style:dashed;
        overflow:hidden;
    }
    #activeBar {
        top:0;
        background-color: #6e6e6e;
        width: 100%;
        height: 15%;
        position: absolute;
        margin-left: 0;
        display: block;
        color: #000000
    }
    #activeTask { 
        margin-left: 2%;
        margin-top: 2%;
    }
    #activeBody {
        background-color: rgb(182, 192, 44);
        border-style: solid;
        border-color:rgb(182, 192, 44);
        border-width: 3pt;
        border-radius: 20%;
    }
    .taskItem {
        margin-top: 2%;
        position: relative;
        margin-left: 2%;
    }
    .status { 
        right: 2%;
        position: absolute;
    }
    .taskIco { 
        width: 90%;
        height:auto;
    }
    #activeOutline {
        margin-top: 2px;
        color: white;
    }
    .activeOutlined {
        display: inline-block;
        margin-left: 3px;
    }
    .outlineIgnore { 
        display: inline-block;
        margin-left: 3px;
    }
